* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-align: center;
}

#caption {
	font-weight: bold;
}

#background {
	background-color: gray;
	border: 2px solid black;
	padding-top: 20px;
	padding-bottom: 20px;
}

#box1 {
	background-color: red;
	border: 2px solid black;
	margin-left: 80%;
	margin-right: 10%;
	max-width: 100px;
	padding-top: 40px;
	padding-bottom: 40px;
}

#box2 {
	background-color: yellow;
	border: 2px solid black;
	margin-left: 10%;
	margin-right: 80%;
	max-width: 100px;
	padding-top: 40px;
	padding-bottom: 40px;
}

#box3 {
	background-color: blue;
	border: 2px solid black;
	margin: auto;
	max-width: 100px;
	padding-top: 40px;
	padding-bottom: 40px;
}

#box4 {
	background-color: orange;
	border: 2px solid black;
	max-width: 100px;
	padding-top: 40px;
	padding-bottom: 40px;
	display: inline-block;
	margin-inline: 20px;
	width: 100%;
}

#row1, #row2 {
	display: inline-block;
	margin-inline: 60px;
}

#upperhalf, #lowerhalf {
	max-width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

#box5-1 {
	background-color: red;
	border: 2px solid black;
	max-width: 100px;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-right: 20px;
	width: 200%;
}

#box5-2 {
	background-color: orange;
	border: 2px solid black;
	max-width: 100px;
	padding-top: 40px;
	padding-bottom: 40px;
	width: 200%;
}

#box5-3 {
	background-color: yellow;
	border: 2px solid black;
	max-width: 100px;
	padding-top: 40px;
	padding-bottom: 40px;
	width: 200%;
}

#box5-4 {
	background-color: green;
	border: 2px solid black;
	max-width: 100px;
	padding-top: 40px;
	padding-bottom: 40px;
	width: 200%;
}

#box5-5 {
	background-color: blue;
	border: 2px solid black;
	max-width: 100px;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-right: 15px;
	width: 200%;
}

#box5-6 {
	background-color: indigo;
	border: 2px solid black;
	max-width: 100px;
	padding-top: 40px;
	padding-bottom: 40px;
	width: 200%;
}

#box5-7 {
	background-color: violet;
	border: 2px solid black;
	max-width: 100px;
	padding-top: 40px;
	padding-bottom: 40px;
	width: 200%;
}

